.framework{
	background-image: url(../img/6598a2a2-da3f-40e3-87c2-11903e67f024-7394.png);
	/*background-color: #269ABC;*/
	max-width: 640px;
	height: 1008px;
	margin: 0px auto;
}
#audio_btn {
	 width: 30px;
	 height: 30px;
	background-image: url(../img/4c5ae0b4-9154-46e1-a832-b1f29064e21f-2579.png);
	 background-size: contain;
	
}

.header .rotate {
	 -webkit-animation: rotating 1.2s linear infinite;
	 -moz-animation: rotating 1.2s linear infinite;
	 -o-animation: rotating 1.2s linear infinite;
	 animation: rotating 1.2s linear infinite ;
}

 @-webkit-keyframes rotating {
	 from {
		-webkit-transform: rotate(0)
	}
	to {
		-webkit-transform: rotate(360deg)
	}
	
}

 @keyframes rotating {
	 from {
		transform: rotate(0)
	}
	to {
		transform: rotate(360deg)
	}
	
}

 @-moz-keyframes rotating {
	 from {
		-moz-transform: rotate(0)
	}
	 to {
		-moz-transform: rotate(360deg)
	}
	
}
.framework .bodyer ul{
	margin-top: 238px;
}
.framework .bodyer ul li{
	width: 77px;
	height: 80px;
	margin-top: 50px;
	 animation: fronts 1.2s linear ;
	 -webkit-animation: fronts 1.2s linear;
	 -moz-animation: fronts 1.2s linear ;
	 
	 -o-animation: fronts 1.2s linear ;
}

 @-webkit-keyframes fronts {
	 from {
		-webkit-transform: rotate(0)
	}
	to {
		-webkit-transform: rotate(360deg)
	}
	
}

 @keyframes fronts {
	 from {
		transform: rotate(0)
	}
	to {
		transform: rotate(360deg)
	}
	
}

 @-moz-keyframes fronts {
	 from {
		-moz-transform: rotate(0)
	}
	 to {
		-moz-transform: rotate(360deg)
	}
	
}
.framework .footer{
	width: 100%;
	margin-top: 120px;
}
